.sapUiCommonsSignatureControl {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    border-radius: 0.2rem;
    overflow: hidden;
  }
  .sapUiCommonsSignaturePad {
    min-width: 0;
    flex-grow: 1;
  }
  .sapUiCommonsSignatureControl.sapUiCommonsDefault {
    background: #FFFFFF;
    border: .0625rem solid #89919a;
  }
  .sapUiCommonsSignatureControl:hover.sapUiCommonsDefault {
    background: #FFFFFF;
    border: .0625rem solid #0854a0;
  }
  .sapUiCommonsSignatureBtn {
    all: unset;
    height: 100%;
    padding: 0 0.5em;
  }
  .sapUiCommonsSignatureBtn.sapUiCommonsDefault:hover {
    background-color: #ebf5fe;
  }
  .sapUiCommonsSignatureBtn.sapUiCommonsDefault:active {
    background-color: #0854a0;
  }
  .sapUiCommonsSignatureBtn.sapUiCommonsDefault span:active {
    color: #FFFFFF;
  }
  .sapUiCommonsSignatureBtnGroup.sapUiCommonsDefault {
    height: 100%;
  }
  .sapUiCommonsScaleAnimation {
    animation-name: scaleAnimation;
    animation-duration: 0.2s;
    animation-direction: alternate;
  }
  
  @keyframes scaleAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }
  