.dxcUiInputInstruction {
    /* font-size: 0.65625rem; */
    font-size: 1rem;
}

.dxcUiMediumMarginTopBottom {
    margin-top: 24px;
    margin-bottom: 24px;
}

.dxcUiSmallMarginBegin {
    margin-left: 19px;
}

.dxcUiLargeMarginBeginEnd {
    margin-left: 34px;
    margin-right: 34px;
}

.dxcUi100Height {
    height: 100%;
}

.dxcUi0Width {
    width: 0;
    overflow: hidden;
}

.sapUiFixFlexFixed {
    overflow: visible;
}

.dxcUiFlexGrow {
    flex-grow: 1;
}

.dxcUiSpin .sapUiIcon {
    animation: dxcUiSpin 4s infinite linear;
}

@keyframes dxcUiSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* <!--Runner--> */

.dxcUiPage .sapMLabel {
    height: 3rem;
    font-size: 16px;
    color: #212121;
}

.dxcUiPage .formInput {
    height: 3rem;
    font-size: 16px;
    color: #212121;
}

.dxcUiUnsetFontSize {
    font-size: unset;
}

.sapUiFormM:not(.sapUiFormEdit) .sapUiFormResGridCont>div {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: unset;
}

.dxcUiPage .sapUiFormLblColon .sapUiFormElementLbl>.sapMLabel, .dxcUiPage .sapUiFormElementLbl {
    margin: 0.25rem 0;
    align-items: center !important;
    display: flex;
    justify-content: flex-end;
}

.drawingBuffer {
    position: absolute;
    top: 0;
    left: 0;
}

.dxcUiPage .sapMWizardProgressNavListVarying .sapMWizardProgressNavStep:last-child::after {
    border-bottom-style: solid;
}

.dxcUiPage .horLine {
    border-bottom: 5px solid black;
}

.dxcUiInsetBoxShadow, .sapUiFixFlexFixed {
    max-width: 1280px;
    margin: auto;
}

.map .sapUiIcon::before {
    content: "";
}

.wrench .sapUiIcon::before {
    content: "";
}

.person-placeholder .sapUiIcon::before {
    content: "";
}

.dxcUiPage .sapMWizardProgressNavStepTitle {
    display: block;
    white-space: nowrap;
    width: 5em;
    /**10em;**/
    overflow: hidden;
    text-overflow: ellipsis;
}

.dxcUiPage nav {
    position: fixed;
    width: 1280px;
}

html.sap-tablet:not(.sap-desktop) *.sapMListTbl {
    width: auto;
}

@media only screen and (min-width: 600px) {
    .dxcUiPage .sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0>.sapUiRespGridSpanM4, .dxcUiPage .sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0>.sapUiRespGridSpanL3 {
        width: 40%
    }
    .dxcUiPage .sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0>.sapUiRespGridSpanM8, .dxcUiPage .sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0>.sapUiRespGridSpanL5 {
        width: 50%;
    }
}

.dxcUiPage .sapMBtnBase.sapMBtn.sapMBtnInverted.sapMWizardNextButtonVisible {
    float: right;
}

@media only screen and (max-width: 600px) {
    .dxcUiPage .sapUiFormLblColon .sapUiFormElementLbl>.sapMLabel, .dxcUiPage .sapUiFormElementLbl {
        height: 3rem;
        align-items: center !important;
        display: flex;
        justify-content: flex-start;
    }
}

@media print {
    .dxcUiPage .sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0>.sapUiRespGridSpanM4, .dxcUiPage .sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0>.sapUiRespGridSpanL3 {
        width: 40%
    }
    .dxcUiPage .sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0>.sapUiRespGridSpanM8, .dxcUiPage .sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0>.sapUiRespGridSpanL5 {
        width: 50%;
    }
    @import url("css/style.css") print;
    html, body {
        width: 80%;
        height: 100%;
        margin: auto;
        padding: 0;
    }
    body, html, #wrapper {
        height: 100%;
        overflow: none;
    }
    @page {
        margin: 0;
        padding: 0;
    }
    .dxcUiInsetBoxShadow, .sapUiFixFlexFixed {
        max-width: 100%;
        margin: auto;
    }
    #container-Scripting_FormRenderer---script--idPage, #container-Scripting_FormRenderer---script--ContentWizard-step-container {
        height: 100%;
        overflow: none;
    }
    .sapMWizard .sapMWizardStep {
        display: block;
    }
    .dxcUiPage .sapMBtnBase.sapMBtn.sapMBtnInverted.sapMWizardNextButtonVisible, .sapMBtnInner, .dxcUiBtn {
        display: none;
    }
    .formDatePicker .sapMInputBaseIconContainer {
        display: none;
    }
    .sapMInputBaseInner[placeholder] {
        display: none;
    }
    .dxcUiSignatureBtn.dxcUiBroadspectrum {
        display: none;
    }
    .sapMInputBaseIconContainer {
        display: none;
    }
    .sapUiRespGridMedia-Std-Desktop.sapUiRespGridHSpace0>.sapUiRespGridSpanL3 {
        width: 50%
    }
}