@primary1: #212121;
@primary2: #FFFFFF;
@mask1: #D3D3D3;
@mask2: #909090;
@mask3: #E0E0E0;
@background: #FBFBFB;
@accent: #00A651;
@error: #C14646;
.sapMPopover .sapMPopoverCont .sapMSelectList.sapMSelectListTableLayout.sapMSltList-CTX {
    .sapMSelectListItemBase.sapMSelectListRow.sapMSelectListItemBaseHoverable {
        &.sapMSelectListItemBaseSelected {
            background-color: rgba(0,166,81,0.1);
            border-bottom: .0625rem solid @accent;
        }
        &.sapMSelectListItemBasePressed {
            background-color: @accent;
        }
    }
}
.sapMPopover.sapMResponsivePopover.sapMRPCalendar, .sapMPopover.sapMResponsivePopover.sapMTimePickerDropDown  {
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.24);
    border-radius: 4px;
    .sapMPopoverCont {
        .sapMTimePickerContainer {
            .sapMTPColumn.sapMTPSliderExpanded {
                .sapMTimePickerSlider {
                    .sapMTPPickerSelectionFrame {
                        border-color: @accent;
                    }
                    .sapMTimePickerItem.sapMTimePickerItemSelected {
                        background-color: @primary2;
                        color: @primary1;
                    }
                }
            }
            .sapMTPColumn {
                .sapMTimePickerSlider {
                    .sapMTPPickerSelectionFrame {
                        border-color: @accent;
                    }
                    .sapMTimePickerItem.sapMTimePickerItemSelected {
                        background-color: @accent;
                        color: @primary2;
                    }
                }
            }
        }
        .sapUiCal {
            .sapUiCalHead {
                .sapUiCalHeadPrev, .sapUiCalHeadNext {
                    .sapUiIcon {
                        color: @accent;
                    }
                    &:hover {
                        color: @accent;
                        background-color: rgba(0, 166, 81, 0.24);
                    }
                }
                .sapUiCalHeadB.sapUiCalHeadB1.sapUiCalHeadBFirst, .sapUiCalHeadB.sapUiCalHeadB2.sapUiCalHeadBLast {
                    color: @accent;
                    &:hover {
                        color: @accent;
                        background-color: rgba(0, 166, 81, 0.24);
                    }
                }
            }
        }
    }

}
.sapMPopover.sapMResponsivePopover.sapMMsgPopover.sapMResponsivePopover.sapMMsgPopover.dxcUiMessagePopover {
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.24);
    border-radius: 4px;
    .sapMPageHeader {
        .sapMIBar.sapMHeader-CTX {
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.24);
        }
        .sapMBtnBase.sapMBtn.sapMBarChild {
            .sapMBtnInner.sapMFocusable.sapMBtnIconFirst.sapMBtnDefault {
                border-color: transparent;
                .sapUiIcon {
                    color: @primary1;
                }
            }
            &:hover {
                .sapMBtnInner.sapMFocusable.sapMBtnIconFirst.sapMBtnDefault {
                    border-color: transparent;
                    &:hover:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnAttention):not(.sapMBtnReject):not(.sapMBtnActive):not(.sapMBtnGhost):not(.sapMBtnCritical):not(.sapMBtnNegative):not(.sapMBtnNeutral):not(.sapMBtnSuccess) {
                        border-color: transparent;
                        background-color: @mask1;
                        .sapUiIcon {
                            color: @primary1;
                        }
                    }
                    &:active {
                        border-color: transparent;
                        background-color: @primary1;
                        .sapUiIcon {
                            color: @primary2;
                        }
                    }
                }
            }
        }
    }
    .sapMMsgView {
        .sapMNav {
            .sapMPage.sapMPageBgStandard {
                background-color: @background;
            }
        }
    }
}
.dxcUiPage, .dxcUiDialog, .sapMPopover {
    .sapMRbG {
        .sapMRb.sapMRbHasLabel {
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 1.75rem;
            .sapMLabel.sapUiSelectable.sapMLabelMaxWidth.sapMRbBLabel {
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                .sapMLabelTextWrapper {
                    white-space: break-spaces;
                    height: auto;
                    line-height: 1.5em;
                }
            }
        }
    }
    &.sapMDialog.sapMDialogWithSubHeader {
        header.sapMDialogSubHeader {
            z-index: 3;
            .sapMIBar {
                box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.24);
            }
        }
    }
    .dxcUiIBarInput, .dxcUiIBarInput.sapMInputBaseHasBeginIcons {
        height: auto !important;
        .sapMInputBaseContentWrapper {
            .sapMInputBaseIconContainer {
                .sapUiIcon.sapMInputBaseIcon {
                    &:hover, &:active {
                        background-color: @background;
                        border: none;
                        color: @primary1;
                    }
                }
            }
        }
    }
    .dxcUiPanel {
        border: 1px solid @mask2;
        border-radius: 4px;
        background-color: @primary2;
        overflow: hidden;
        .sapMBtnBase.sapMBtn, .sapMBtnBase.sapMBtn.sapMBarChild {
            border-color: transparent;
            background-color: transparent;
            .sapMBtnInner.sapMBtnHoverable.sapMFocusable.sapMBtnIconFirst.sapMBtnDefault, .sapMBtnDefault.sapMBtnInner.sapMFocusable:hover:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnAttention):not(.sapMBtnReject):not(.sapMBtnActive):not(.sapMBtnGhost):not(.sapMBtnCritical):not(.sapMBtnNegative):not(.sapMBtnNeutral):not(.sapMBtnSuccess) {
                border-color: transparent;
                background-color: transparent;
                .sapUiIcon {
                    color: @primary1;
                }
            }
            &:hover {
                .sapMBtnInner.sapMBtnHoverable.sapMFocusable.sapMBtnIconFirst.sapMBtnTransparent, .sapMBtnInner.sapMBtnHoverable.sapMFocusable.sapMBtnIconFirst.sapMBtnDefault, .sapMBtnDefault.sapMBtnInner.sapMFocusable:hover:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnAttention):not(.sapMBtnReject):not(.sapMBtnActive):not(.sapMBtnGhost):not(.sapMBtnCritical):not(.sapMBtnNegative):not(.sapMBtnNeutral):not(.sapMBtnSuccess) {
                    border-color: @primary1 !important;
                    background-color: transparent;
                    .sapUiIcon {
                        color: @primary1;
                    }
                }
            }
            &:active {
                .sapMBtnInner.sapMBtnHoverable.sapMFocusable.sapMBtnIconFirst.sapMBtnTransparent, .sapMBtnInner.sapMBtnHoverable.sapMFocusable.sapMBtnIconFirst.sapMBtnDefault, .sapMBtnDefault.sapMBtnInner.sapMFocusable:hover:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnAttention):not(.sapMBtnReject):not(.sapMBtnActive):not(.sapMBtnGhost):not(.sapMBtnCritical):not(.sapMBtnNegative):not(.sapMBtnNeutral):not(.sapMBtnSuccess) {
                    background-color: @primary1;
                    .sapUiIcon {
                        color: @primary2;
                    }
                }
            }
        }
        .sapMPanelWrappingDivTb {
            border-bottom: none;
            &.sapMPanelWrappingDivTbExpanded {
                border-bottom: 1px solid @mask2;
            }
            .sapMTitle {
                font-weight: 700;
                font-size: 16px;
            }
        }
        .sapMPanelContent {
            border: none;
            padding: 0;
            margin: 0;
        }
    }
    &.sapMPageBgSolid {
        background-color: @primary2;
    }
    color: @primary1;
    background-color: @primary2;
    .sapMPageSubHeader {
        .sapMTB {
            border-bottom: none;
        }
    }
    &.sapMDialog {
        box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.24);
        header:first-of-type.sapMDialogTitle {
            .sapMBar {
                box-shadow: inset 0 -0.0625rem @mask3;
            }
            .sapMIBar {
                box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.24);
                .sapMTitle {
                    span {
                        color: @primary1;
                        font-weight: 700;
                    }
                }
            }
        }
        .sapMDialogFooter {
            .sapMIBar.sapMFooter-CTX {
                border-top: 1px solid @mask3;
                .sapMBtn {
                    .sapMBtnInner.sapMFocusable.sapMBtnText {
                        background-color: transparent;
                        border: none;
                        .sapUiIcon, bdi {
                            color: @primary1;
                        }
                        &:hover:not(.sapMToggleBtnPressed), &:hover:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnAttention):not(.sapMBtnReject):not(.sapMBtnActive):not(.sapMBtnGhost):not(.sapMBtnCritical):not(.sapMBtnNegative):not(.sapMBtnNeutral):not(.sapMBtnSuccess) {
                            background-color: @mask1;
                            .sapUiIcon, bdi {
                                color: @primary1;
                            }
                        }
                        &:active {
                            background-color: @primary1;
                            border-color: @primary1;
                            .sapUiIcon, bdi {
                                color: @primary2;
                            }
                        }
                    }
                }
            }
        }
    }
    .sapMLabel {
        bdi {
            color: @primary1;
        }
    }
    &.sapMMessagePage, .sapMPageHeader {
        .sapMTB, .sapMBar {
            background-color: @accent;
            color: @primary2;
            border-bottom: none;
            box-shadow: none;
            .sapMTitle {
                color: @primary2;
            }
        }
    }
    .sapMBtn.dxcUiBtnInverse {
        .sapMBtnInner.sapMFocusable.sapMBtnIconFirst.sapMBtnTransparent, .sapMBtnInner.sapMFocusable.sapMBtnIconFirst.sapMBtnTransparent {
            background-color: transparent;
            .sapUiIcon {
                color: @primary2
            }
            &:hover:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnAttention):not(.sapMBtnReject):not(.sapMBtnActive):not(.sapMBtnGhost):not(.sapMBtnCritical):not(.sapMBtnNegative):not(.sapMBtnNeutral):not(.sapMBtnSuccess) {
                background-color: transparent;
                border-color: @primary2;
                .sapUiIcon {
                    color: @primary2
                }
            }
            &:active {
                background-color: @primary2;
                border-color: @primary2;
                .sapUiIcon {
                    color: @accent;
                }
            }
        }
    }
    .sapMLabel {
        .sapMLabelTextWrapper {
            bdi {
                color: @primary1;
            }
        }
    }
    .sapMBtn {
        .sapMBtnBack.sapMBtnInner.sapMFocusable {
            background-color: transparent;
            .sapUiIcon {
                color: @primary2
            }
            &:hover:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnAttention):not(.sapMBtnReject):not(.sapMBtnActive):not(.sapMBtnGhost):not(.sapMBtnCritical):not(.sapMBtnNegative):not(.sapMBtnNeutral):not(.sapMBtnSuccess) {
                background-color: transparent;
                border-color: @primary2;
                .sapUiIcon {
                    color: @primary2
                }
            }
            &:active {
                background-color: @primary2;
                border-color: @primary2;
                .sapUiIcon {
                    color: @accent;
                }
            }
        }
        .sapMBtnEmphasized.sapMBtnInner.sapMFocusable {
            background-color: @accent;
            border-color: @primary2;
            &:hover {
                background-color: rgba(0, 112, 54, 1);
                border-color: @primary2
            }
            &:active {
                background-color: @primary1;
                border-color: @primary1;
                .sapUiIcon, .sapMBtnContent {
                    color: @primary2
                }
            }
        }
        .sapMBtnDefault.sapMBtnInner.sapMFocusable {
            background-color: transparent;
            border-color: @accent;
            color: @accent;
            &:hover:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnAttention):not(.sapMBtnReject):not(.sapMBtnActive):not(.sapMBtnGhost):not(.sapMBtnCritical):not(.sapMBtnNegative):not(.sapMBtnNeutral):not(.sapMBtnSuccess) {
                background-color: rgba(0, 166, 81, 0.33);
            }
            &:active {
                background-color: @accent;
                border-color: @accent;
                .sapUiIcon, .sapMBtnContent {
                    color: @primary2;
                }
            }
        }
        .sapMBtnTransparent.sapMBtnInner.sapMFocusable.sapMBtnIconFirst {
            background-color: transparent;
            .sapUiIcon {
                color: @primary1;
            }
            &:hover:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnAttention):not(.sapMBtnReject):not(.sapMBtnActive):not(.sapMBtnGhost):not(.sapMBtnCritical):not(.sapMBtnNegative):not(.sapMBtnNeutral):not(.sapMBtnSuccess) {
                background-color: transparent;
                border-color: @primary1;
                .sapUiIcon {
                    color: @primary1;
                }
            }
            &:active {
                background-color: @primary1;
                border-color: @primary1;
                .sapUiIcon {
                    color: @primary2;
                }
            }
        }
    }
    .sapMList {
        .sapMLIB {
            border-bottom: 1px solid @mask1;
            &.sapMLIBSelected {
                border-bottom: 1px solid @accent;
                background-color: rgba(0,166,81,0.1);
            }
            &:hover {
                background: @mask1;
            }
        }
        .sapMGrowingListTriggerText>.sapMSLITitle {
            color: @accent;
        }
    }
    .sapMInputBase.sapMInputBaseIconPressed {
        .sapMInputBaseIcon {
            background-color: @mask1;
            color: @primary1;
            &:hover {
                background-color: @mask1;
                color: @primary1;
            }
        }
    }
    .sapUiFup {
        .sapUiFupGroup {
            &>div>div {
                vertical-align: middle;
            }
            .sapMBtn {
                height: 3em;
                font-size: 16px;
                background-color: @primary2;
                border: 1px solid @mask2;
                border-radius: 4px;
                .sapMBtnInner.sapMFocusable {
                    border-color: transparent;
                    color: @primary1;
                    .sapMBtnContent {
                        color: @primary1;
                    }
                }
                &:hover:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnAttention):not(.sapMBtnReject):not(.sapMBtnActive):not(.sapMBtnGhost):not(.sapMBtnCritical):not(.sapMBtnNegative):not(.sapMBtnNeutral):not(.sapMBtnSuccess) {
                    background-color:@accent;
                    border-color: @accent;
                    .sapMBtnContent {
                        color: @primary2
                    }
                }
                &:active {
                    background-color: @primary1;
                    border-color: @primary1;
                    .sapMBtnContent {
                        color: @primary2
                    }
                }
            }
        }
    }
    .sapMRbG {
        .sapMRb.sapMRbHasLabel {
            .sapMRbBOut {
                stroke: @mask2;
            }
        }
        .sapMRb:not(.sapMRbErr):not(.sapMRbWarn):not(.sapMRbInfo):not(.sapMRbSucc) {
            .sapMRbHoverable:hover {
                .sapMRbBOut {
                    stroke: @primary1;
                }
            }
        }
        .sapMRb.sapMRbSel.sapMRbHasLabel {
            .sapMRbBInn {
                fill: @primary1;
                stroke: none;
            }
        }
    }
    &.sapMDialog {
        box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.24);
        header:first-of-type.sapMDialogTitle {
            .sapMBar {
                box-shadow: inset 0 -0.0625rem @mask3;
            }
            .sapMIBar {
                box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.24);
                .sapMTitle {
                    span {
                        color: @primary1;
                        font-weight: 700;
                    }
                }
            }
        }
        .sapMDialogSubHeader {
            .sapMSFF {
                background-color: @primary2;
                border: 1px solid @mask2;
                border-radius: 4px;
                color: @primary1;
            }
            .sapMSFR.sapMSFB, .sapMSFS.sapMSFB {
                color: @primary1;
                &:hover {
                    background-color: @mask1;
                }
            }
            .sapMBtnBase.sapMBtn.sapMBarChild {
               .sapMBtnInner.sapMFocusable.sapMBtnIconFirst.sapMBtnDefault {
                    background-color: transparent;
                    border: none;
                    .sapUiIcon, bdi {
                        color: @primary1;
                    }
                    &:hover:not(.sapMToggleBtnPressed), &:hover:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnAttention):not(.sapMBtnReject):not(.sapMBtnActive):not(.sapMBtnGhost):not(.sapMBtnCritical):not(.sapMBtnNegative):not(.sapMBtnNeutral):not(.sapMBtnSuccess) {
                        background-color: @mask1;
                        .sapUiIcon, bdi {
                            color: @primary1;
                        }
                    }
                    &:active {
                        background-color: @primary1;
                        border-color: @primary1;
                        .sapUiIcon, bdi {
                            color: @primary2;
                        }
                    }
               }
            }
        }
        .sapMDialogFooter {
            .sapMIBar.sapMFooter-CTX {
                border-top: 1px solid @mask3;
                .sapMBtn {
                    .sapMBtnInner.sapMFocusable.sapMBtnText {
                        background-color: transparent;
                        border: none;
                        .sapUiIcon, bdi {
                            color: @primary1;
                        }
                        &:hover:not(.sapMToggleBtnPressed), &:hover:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnAttention):not(.sapMBtnReject):not(.sapMBtnActive):not(.sapMBtnGhost):not(.sapMBtnCritical):not(.sapMBtnNegative):not(.sapMBtnNeutral):not(.sapMBtnSuccess) {
                            background-color: @mask1;
                            .sapUiIcon, bdi {
                                color: @primary1;
                            }
                        }
                        &:active {
                            background-color: @primary1;
                            border-color: @primary1;
                            .sapUiIcon, bdi {
                                color: @primary2;
                            }
                        }
                    }
                }
            }
        }
    }
    .sapMSFF {
        background-color: @primary2;
        border: 1px solid @mask2;
        border-radius: 4px;
        color: @primary1;
        overflow: hidden;
        &:hover, &:active {
            border-color: @primary1 !important;
        }
        .sapMSFR.sapMSFB, .sapMSFS.sapMSFB {
            color: @primary1;
            background-color: transparent;
            &:hover, &:active {
                background-color: @mask1;
            }
        }
    }
    .sapMSlt, .sapMSlt.sapMSltHoverable:not(.sapMSltState):not(.sapMSltIconOnly) {
        &.sapMSltPressed, &.sapMSltPressed:hover {
            border: 1px solid @accent;
            .sapMSltArrow {
                background-color: @accent;
            }
        }
        &:hover {
            border-color: inherit;
            background: @background;
            .sapMSltArrow {
                background-color: rgba(0,166,81,0.1);
            }
        }
        height: 3rem;
        border-radius: 4px;
        .sapMSltLabel {
            line-height: 3rem;
        }
        .sapMSltArrow {
            line-height: 3rem;
            color: @accent;
        }
    }
    .sapMInputBase {
        height: 3rem;
        .sapMInputBaseContentWrapper.sapMInputBaseContentWrapperState.sapMInputBaseContentWrapperError {
            border: 1px solid @error;
        }
        .sapMInputBaseContentWrapper {
            background-color: @primary2;
            border: 1px solid @mask2;
            border-radius: 4px;
            color: @primary1;
            input::placeholder, input::-webkit-input-placeholder, input:-ms-input-placeholder {
                color: @mask2;
            }
            &:hover:not(.sapMInputBaseReadonlyWrapper):not(.sapMInputBaseContentWrapperState):not(.sapMInputBaseDisabledWrapper) {
                border-color: @mask2;
                background-color: @background;
            }
            .sapMInputBaseIconContainer.dxcUiBtnDisable {
                background-color: transparent;
                cursor: default;
                &:hover, &:active {
                    background-color: transparent;
                }
                .sapUiIcon {
                    color: @primary1;
                    cursor: default;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover, &:active {
                        background-color: transparent;
                    }
                }
            }
            .sapMInputBaseIconContainer {
                background-color: transparent;
                cursor: default;
                &:hover {
                    background-color: @mask1;
                }
                &:active {
                    color: @primary2;
                    background-color: @primary1;
                }
                .sapUiIcon {
                    color: @primary1;
                    cursor: default;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        color: @primary1;
                        background-color: @mask1;
                    }
                    &:active {
                        color: @primary2;
                        background-color: @primary1;
                    }
                }
            }
        }
    }
    .sapMITB {
        .sapMITBContent {
            background-color: @primary2;
            border-bottom: none;
        }
        .sapMITH {
            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
            .sapMITBItem {
                color: @mask2;
                &:hover {
                    color: @primary1;
                }
            }
            .sapMITBSelected {
                color: @accent;
                border-color: @accent;
                .sapMITBText {
                    color: @accent;
                }
                .sapMITBContentArrow::after {
                    background-color: @accent;
                }
                &:hover {
                    .sapMITBText {
                        color: @accent;
                    }
                }
            }
        }
    }
    .sapMList.sapMListBGTranslucent.sapMListTblCnt {
        border: none;
        .sapMTBStandard {
            border: none;
        }
        .sapMListTbl {
            overflow: hidden;
            .sapMListTblHeader {
                .sapMColumnHeader {
                    .sapMText {
                        font-weight: 700;
                    }
                }
            }
            .sapMListTblRow.sapMLIBFocusable.sapMListTblHeader {
                .sapMInputBaseNoWidth.sapMInputBase {
                    width: 100%;
                }
                .sapMTableTH {
                    border-bottom: none;
                    background-color: transparent;
                }
            }
            .sapMListItems.sapMTableTBody {
                .sapMLIB.sapMListTblRow {
                    border-bottom: none;
                }
            }
            .sapMLIBShowSeparator>td {
                border-top: 1px solid @mask1;
            }
        }
    }
    .sapMWizard, .sapMWizard,.sapMWizardBgStandard {
        .sapMWizardStepContainer {
            background-color: @primary2;
        }
        .sapMWizardProgressNav {
            box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.24);
        }
        .sapMWizardStep {
            .sapMWizardStepTitle {
                color: @primary1;
            }
        }
        .sapMWizardProgressNavStep {
            &::after {
                border-bottom-color: @accent;
            }
            .sapMWizardProgressNavStepContainer {
                .sapMWizardProgressNavStepCircle {
                    border-color: @accent;
                    background: @primary2;
                    color: @accent;
                    &::after {
                        background-color: @accent;
                    }
                } 
            }

        }
        .sapMWizardProgressNavStep[data-sap-ui-wpn-step-current="true"], .sapMWizardProgressNavStep:hover {
            &::after {
                background-color: @mask1;
            }
            .sapMWizardProgressNavStepContainer {
                .sapMWizardProgressNavStepCircle {
                    background-color: @accent;
                    color: @primary2;
                }
            }
        }
    }
    .sapMCb {
        .sapMCbHoverable:hover {
            border-color: @accent;
        }
    }
}
.sapUiMnu {
    border-radius: 4px;
    background-color: @primary2;
    color: @primary1;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.24);
    .sapUiMnuLst {
        color: inherit;
        .sapUiMnuItm {
            border-bottom: 1px solid transparent;
            &:hover {
                background-color: @mask1;
            }
            &:active {
                color: @primary2;
                background-color: @accent;
            }
        }
    }
}

.sapMMsgPopover {
    color: @primary1;
    background-color: @primary2;
    .sapMPageHeader {
        .sapMBar {
            background-color: @accent;
            color: @primary2;
            .sapMTitle {
                color: @primary2;
            }
        }
        .sapMBtn {
            .sapMBtnTransparent, .sapMBtnBack {
                background-color: transparent;
                .sapUiIcon {
                    color: @primary2;
                }
                &:hover {
                    background-color: transparent;
                    border-color: @primary2;
                }
                &:active {
                    background-color: @primary2;
                    border-color: @primary2;
                    .sapUiIcon {
                        color: @primary1;
                    }
                }
            }
        }
    }
}
.sapUiLocalBusyIndicatorAnimation>div::before {
    background-color: @accent !important;
}
.sapUiLocalBusyIndicatorAnimation>div::after {
    box-shadow: inset 0 0 0 0 @accent !important;
}

/* STRICT */
.dxcUiPage .sapMIBar-CTX .dxcUiBtn.dxcUiBtnInverse.sapMBtn:not(.sapMBtnDisabled):hover>.sapMBtnInner:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnAttention):not(.sapMBtnReject):not(.sapMBtnActive):not(.sapMBtnGhost):not(.sapMBtnCritical):not(.sapMBtnNegative):not(.sapMBtnNeutral):not(.sapMBtnSuccess), .sapMTB-Transparent-CTX .sapMBtn:not(.sapMBtnDisabled):hover>.sapMBtnInner:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnAttention):not(.sapMBtnReject):not(.sapMBtnActive):not(.sapMBtnGhost):not(.sapMBtnCritical):not(.sapMBtnNegative):not(.sapMBtnNeutral):not(.sapMBtnSuccess) {
    border-color: @primary2;
    background-color: transparent;
    color: @primary2;
    .sapUiIcon {
        color: @primary2;
    }
}
.dxcUiPage .sapMIBar-CTX .dxcUiBtn.sapMBtn:not(.sapMBtnDisabled):hover>.sapMBtnInner:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnAttention):not(.sapMBtnReject):not(.sapMBtnActive):not(.sapMBtnGhost):not(.sapMBtnCritical):not(.sapMBtnNegative):not(.sapMBtnNeutral):not(.sapMBtnSuccess), .sapMTB-Transparent-CTX .sapMBtn:not(.sapMBtnDisabled):hover>.sapMBtnInner:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnAttention):not(.sapMBtnReject):not(.sapMBtnActive):not(.sapMBtnGhost):not(.sapMBtnCritical):not(.sapMBtnNegative):not(.sapMBtnNeutral):not(.sapMBtnSuccess) {
    border-color: @primary1;
    background-color: transparent;
    color: @primary1;
    .sapUiIcon {
        color: @primary1;
    }
}
.dxcUiPage .dxcUiBtn.sapMBtn:hover>.sapMBtnTransparent:not(.sapMBtnActive):not(.sapMToggleBtnPressed), .sapMIBar-CTX .sapMBtn:hover>.sapMBtnTransparent:not(.sapMBtnActive):not(.sapMToggleBtnPressed) {
    background-color: transparent;
    border-color: @primary1;
    color: @primary1;
    .sapUiIcon {
        color: @primary1;
    }
}
.dxcUiPage .sapMIBar-CTX .sapMBtn[title="Back"]:not(.sapMBtnDisabled):hover>.sapMBtnInner:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnAttention):not(.sapMBtnReject):not(.sapMBtnActive):not(.sapMBtnGhost):not(.sapMBtnCritical):not(.sapMBtnNegative):not(.sapMBtnNeutral):not(.sapMBtnSuccess), .sapMTB-Transparent-CTX .sapMBtn:not(.sapMBtnDisabled):hover>.sapMBtnInner:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnAttention):not(.sapMBtnReject):not(.sapMBtnActive):not(.sapMBtnGhost):not(.sapMBtnCritical):not(.sapMBtnNegative):not(.sapMBtnNeutral):not(.sapMBtnSuccess) {
    border-color: @primary2;
}
.dxcUiPage .sapMBtnInverted.sapMBtn:hover>.sapMBtnEmphasized:not(.sapMBtnActive):not(.sapMToggleBtnPressed) {
    background-color: rgba(0, 112, 54, 1);
    border-color: transparent;
    color: @primary2;
}
.dxcUiPage .sapMListShowSeparatorsAll .sapMLIBShowSeparator:last-child>td:not(.sapMListTblDummyCell), .sapMListShowSeparatorsAll .sapMListTblSubRow:last-child>td:not(.sapMListTblDummyCell) {
    border-bottom: none;
}
.dxcUiPage .sapMWizard.sapMWizardBgStandard .sapMWizardStepContainer {
    background-color: @background;
}
.sapMValueStateMessage.sapMValueStateMessageError.sapMValueStateMessageBottom {
    background-color: @background;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: @error;
}
.dxcUiPage .sapMCbBg.sapMCbMarkChecked:before {
    color: @accent;
}
.sapMITBContainerContent {
    overflow: scroll;
}
html.sap-phone .dxcUiPage .sapMWizard .sapMWizardNextButtonVisible {
    position: unset;
    left: 1rem;
    bottom: 0;
}
.dxcUiPage .sapMInputBaseIconPressed .sapMInputBaseContentWrapper:not(.sapMInputBaseReadonlyWrapper):not(.sapMInputBaseContentWrapperState):not(.sapMInputBaseDisabledWrapper) {
    border-color: @accent;
}
.dxcUiPage .sapMCbBg.sapMCbMarkChecked:before, .sapMCbBg.sapMCbMarkChecked:before {
    color: @accent !important;
}