.dxcUiIconTabControl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
}
.dxcUiIconTabControl.dxcUiDefault {
  color: #89919a;
}
.dxcUiIconTabControl.dxcUiBroadspectrum {
  color: #909090;
}
.dxcUiIconTabControl.dxcUiDefault:hover, .dxcUiIconTabControl.dxcUiDefault.active {
  color: #0854a0;
}
.dxcUiIconTabControl.dxcUiBroadspectrum:hover, .dxcUiIconTabControl.dxcUiBroadspectrum.active {
  color: #009946;
}
.dxcUiIconTabIcon {
  font-size: 28px;
  color: inherit;
  cursor: inherit;
}
.dxcUiIconTabIcon .sapUiIcon {
  cursor: pointer !important;
}
.dxcUiIconTabLabel {
  text-align: center;
  font-size: 14px;
  color: inherit;
  margin: 4px 0 0 0;
}