.dxcUiIconTabBarControl {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.08);
  padding: 15px 0 17px 0;
}