.dxcUiSignatureControl {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  border-radius: 0.2rem;
  overflow: hidden;
}
.dxcUiSignaturePad {
  min-width: 0;
  flex-grow: 1;
}
.dxcUiSignatureControl.dxcUiDefault {
  background: #FFFFFF;
  border: .0625rem solid #89919a;
}
.dxcUiSignatureControl:hover.dxcUiDefault {
  background: #FFFFFF;
  border: .0625rem solid #0854a0;
}
.dxcUiSignatureBtn {
  all: unset;
  height: 100%;
  padding: 0 0.5em;
}
.dxcUiSignatureBtn.dxcUiDefault:hover {
  background-color: #ebf5fe;
}
.dxcUiSignatureBtn.dxcUiDefault:active {
  background-color: #0854a0;
}
.dxcUiSignatureBtn.dxcUiDefault span:active {
  color: #FFFFFF;
}
.dxcUiSignatureBtnGroup.dxcUiDefault {
  height: 100%;
}
/* BRS Style */
.dxcUiSignatureControl.dxcUiBroadspectrum {
  background: #FFFFFF;
  border: 1px solid #909090;
}
.dxcUiSignatureBtn.dxcUiBroadspectrum {
  background-color: #FFFFFF;
  transition: color 0.5s, background 0.5s;
}
.dxcUiSignatureBtn.dxcUiBroadspectrum:hover {
  background: #009946;
}
.dxcUiSignatureBtn.dxcUiBroadspectrum:active {
  transition: none;
  background: #0b3254;
}
.dxcUiSignatureBtn.dxcUiBroadspectrum span {
  color: #000000;
}
.dxcUiSignatureBtn:active.dxcUiBroadspectrum span, .dxcUiSignatureBtn:hover.dxcUiBroadspectrum span {
  color: #FFFFFF;
}
.dxcUiSignatureBtnGroup.dxcUiBroadspectrum {
  height: 100%;
}
.dxcUiScaleAnimation {
  animation-name: scaleAnimation;
  animation-duration: 0.2s;
  animation-direction: alternate;
}

.dxcUiBroadspectrum canvas {
    width: 100% !important;
    height: 100% !important;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
